# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# Environment variables
.env

# Uploaded files
uploads/*
!uploads/.gitkeep

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Docker
.dockerignore